.intro-header {
	height: 250px;
}

#addPost {
    text-align: center;
}

.input {
    width: 35%;
    min-width: 374px;
    margin-bottom: 10px;
}

#post {
    width: 50%;
}

#body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#errors {
	margin-top: 5px;
	margin-bottom: 5px;
}