.intro-header {
	height: 250px;
}

#createPost,
#editPost,
#login,
#createUser {
    text-align: center;
}

.input {
    width: 35%;
    min-width: 374px;
    margin-bottom: 10px;
}

#post {
    width: 50%;
}

#body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.errors {
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
    max-width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}