.dropdown-menu {
    background-color: transparent;
}

.navbar-default .navbar-nav > .open> a, 
.navbar-default .navbar-nav > .open> a:focus, 
.navbar-default .navbar-nav > .open> a:hover {
    color: #fff;
    background-color: transparent;
}

#searchBar {
	margin-left: 28%;
	display: inline;
	margin-top: 20px;
	width: 25%;
}

#bs-example-navbar-collapse-1,
form,
input {
	display: inline;
}