#paginator {
	margin-left: auto;
	margin-right: auto;
	padding-right: 25px;
	width: 300px;
}

#paginator > ul > li > a {
	color: #404040;
}

#paginator > ul > li > a:hover {
	background-color: gray;
}

#paginator > ul > .active > span {
	background-color: gray;
	border-color: gray;
	color: #404040;
}