body {
	text-align: center;
}

h1 {
	margin-top: 8%;
}

header {
	max-height: 350px;
}

#guess,
#die {
	width: 450px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	background-color: #337ab7;
	color: #fff;
}

.dieNum {
	width: 50px;
	padding: 15px;
}

#goBtn {
	width: 360px;
}